:root {
    --ion-color-primary: rgb(199, 255, 170);
    /* Set the background of the entire app */
    --ion-background-color: #fafafa;
    /* Set the font family of the entire app */
    --ion-font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Roboto", sans-serif;
    --ion-color-danger: rgb(94, 170, 132)!important;   
}

.container-mobile {
    max-width: 600px;
    margin: 0 auto;
}

/* Set text color of the entire app for iOS only */
.ios {
    --ion-text-color: rgb(73, 73, 73);
}

.searchbar-input {
    border: none !important;
    box-shadow: none !important;
}

ion-header {
    border: none !important;
}

ion-card {
    border: none;
    box-shadow: none;
    background-color: rgb(227, 227, 227);
    border-radius: 10px;
}

.md {
    --ion-text-color: rgb(39, 39, 39);
}
.color-search {
    background-color: rgb(53, 165, 109)!important;
}

.vol-bg-slide {
    background-color: rgb(53, 165, 109);
    padding-top: .6em;
    padding-bottom: 2em;
}
.color-recientes {
    color: #e7e7e7;
}

.vol-bg{
    background-color: black;
    border: none;
}

.no-border{
    background-color: black;
}

/* Set the color on all ion-button elements */
ion-fab-button {
    --color: #f1f1f1;
    --background: rgb(53, 165, 109);
    --background-activated: rgb(174, 223, 142);
}

ion-slides {
    --color: #ffffff;
    --background: rgb(53, 165, 109);
}

.btn-warning {
    background-color: var(--priRed);
    color: white;
    border: none;
}

.btn-warning:focus {
    color: white;
}

.soleado {
    background-color: var(--soleado);
    transition: 1s ease;
}

.lluvioso {
    background-color: var(--lluvioso);
    transition: 1s ease;
}

.nublado {
    background-color: var(--nublado);
    transition: 1s ease;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.fa-sun {
    color: var(--secAma);
    font-size: 2em;
}

.fa-cloud {
    color: var(--gris);
    font-size: 2em;
}

.fa-cloud-showers-heavy {
    color: var(--nublado);
    font-size: 2em;
}

.app {
    background-color: rgb(250, 250, 250);
    margin: 1em;
    padding: 1em;
    border-radius: .6em;
}

#maps {
    border-radius: .6em;
    overflow: hidden;
}

iframe {
    display: block;
}

.container {
    padding: 1.2em;
}

#respuesta {
    background-color: white;
    border-radius: .6em;
}

#respuesta span {
    font-size: 2em;
    text-align: center;
    padding: .2em;
}

#respuesta ul {
    font-size: 1em;
    color: var(--text);
    padding: .2em;
}

.icono {
    display: block;
    width: 50px;
    height: 50px;
    background-image: url(../img/clima-weather-icon.png);
    background-position: center;
    background-size: cover;
}


/* Slide */

.swiper-container {
    width: 100%;

}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.logo {
    width: 50%;
    max-width: 120px;
    margin: 0 auto;

}

.canva {
    text-align: center;
}

#myCanvas {

    background-color: rgb(62, 165, 93);
    width: 100% !important;
}

.mi-spinner{
    margin-top: 8em;
}
